<div class="footer">
    <div class="footer-container">
    <div>
    <h5>Impressum</h5>
    </div>
    <div>
    <p>Janis Vaneylen</p>
    <p>Kremmener Str. 7, 10435 Berlin</p>
    <p>janis.vaneylen@gmail.com</p>
    </div>
    </div>
    <a href="https://github.com/Janis4411"><i class="fab fa-github"></i></a>
<<<<<<< HEAD
=======
  </div>
>>>>>>> b6fdc995a27219dc93e1f8ef8994e68dae584a35
  <div>
    <%= image_tag('download.png', width: "60", height: "60", alt: 'Biomasa') %>
  </div>
  <div class="footer-copyright">
     <i class="fas fa-heart"></i>
  </div>
</div>
