<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Janis4411"><i class="fab fa-github"></i></a>
  </div>
  <div>
    <%= image_tag('download.png', width: "60", height: "60", alt: 'Biomasa') %>
  </div>
  <div class="footer-copyright">
     <i class="fas fa-heart"></i>
  </div>
</div>
