<% if table.table_photo.attached? %>
  <%= cl_image_tag table.table_photo.key, height: 150, width: 170, class: "mb-2", crop: :fill %>
<% end %>
<h2><%= table.description %></h2>
<p><%= table.location %></p>
