// Your CSS partials
@import "bootstrap/scss/bootstrap";
@import "components/navbar";
@import "components/footer";
@import "components/avatar";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
@import "components/map";

.form_for {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  margin-left: 10px;
  margin-bottom: 10px;
}
